<html>
<body>



<form method="POST" action="/local">
<input type="email" name="em" id="em" />
<input type="password" name="pass" id="pass" />
<button type="submit">Login</button>
</form>


</body>
</html>
