<html>
<body>



<form method="POST" action="/signup">
<input type="email" name="em" id="em" />
<input type="password" name="pass" id="pass" />
<input type="text" name="name" id="name" />
<input type="text" name="position" id="position" />

<button type="submit">Login</button>
</form>


</body>
</html>
